.bg {
    position: fixed; 
    top: -50%; 
    left: -50%; 
    width: 200%; 
    height: 200%;
    filter: saturate(0%) contrast(200%) blur(1px);
    transition: all 1.5s ease-in-out .1s;
}

.bg img {
    position: absolute; 
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0; 
    margin: auto; 
    min-width: 50%;
    min-height: 50%;
}

.element {
    display: table-cell;
    width: 400px;
    height: 400px;
    margin: 10px;
    z-index: 1;
    position: fixed;
    box-sizing: border-box;
    opacity: .55;
    top: calc(50vh - 200px);
    left: calc(50vw - 200px);
    transition: all 1.5s ease-in-out .1s;
    border-width: 30px;
    border-style: solid;
}

.element--square {
    border-color: rgba(25, 54, 47, 1);
    z-index: 2;
}

.element--circle {
    border-radius: 50%;
    border-color: #c09c8c;
    width: 240px;
    height: 240px;
    top: calc(50vh - 120px);
    left: calc(50vw - 120px);
}

.element--circle:hover,
.element--square:hover + .element--circle {
    border-color: rgba(25, 54, 47, 1);
    border-radius: 0;
}

.element--square:hover,
.element--circle:hover + .element--square,
.element--square:active,
.element--circle:active + .element--square {
    border-radius: 50%;
    border-color: #c09c8c;
}

.element--square:hover ~ .bg {
    filter: saturate(125%) contrast(150%);
}